<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.senai.jogo_da_velha">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Jogo da Velha"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jogodavelha">
        <activity
            android:name=".jogoPlayer"
            android:exported="false"
            android:parentActivityName=".PlayerVSpc"/>
        <activity
            android:name=".jogoDificil"
            android:exported="false"
            android:parentActivityName=".niveisActivity"/>
        <activity
            android:name=".jogoMedio"
            android:exported="false"
            android:parentActivityName=".niveisActivity"/>
        <activity
            android:name=".jogoFacil"
            android:exported="false"
            android:parentActivityName=".niveisActivity"/>
        <activity
            android:name=".vencedorActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".splashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".niveisActivity"
            android:exported="false"
            android:parentActivityName=".PlayerVSpc" />
        <activity
            android:name=".PlayerVSpc"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>